*{
    padding: 0;
    margin: 0;
}
:root {
    --body:  rgb(4, 0, 58);
    --white: #ffffff;
  }
body{
    background :linear-gradient(cyan 10%,rgba(0, 0, 0, 0.721) 100%);
    height: 150vh;
    color: azure;
    /* font-family: 'Bricolage Grotesque', sans-serif;
    font-family: 'Cairo', sans-serif;
    font-family: 'Noto Sans Arabic', sans-serif; */
    font-family: 'Open Sans', sans-serif;
}
h1{
    color: black;
    margin: 1rem 0;
}
.main{
   
    display: flex;
   
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 
}
.container{
    background-color: rgb(4, 0, 58);
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    border-radius: 20px;
    box-sizing: border-box;
}
.tabs{
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
   
   
}
.tabs p{
    padding: 16px;
    position: relative;
    transform: 100s;
    color: rgb(1, 186, 186) ;
}
.tabs .active::before{
    content: "";
    width: 150%;
    height: 4px;
    background-color:rgb(222, 222, 222);
    position: absolute;
   bottom: -23px;
   border-radius: 5px;
   left: -23%;

}
.tabs p:hover{
    color: rgb(38, 254, 254) ;
   cursor: pointer;
    
}
.tabs p.active{
    color: rgb(38, 254, 254) ;
 }
.line{
    width: 100%;
    height: 2px;
    background-color:rgb(8, 176, 176) ;
 
}
.icons{
    display: flex;
    justify-content: center;
    padding: 1rem 3rem;
   
}
.icons img{
    height: 40px;
    padding: 0 1rem
}
.toggle{
  text-align: center;
  width: 140px;
  height: 32px;
  background-color: cadetblue;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding: 0 3px;
  box-sizing: border-box;
}
.toggle span:first-of-type{
   margin-left: .5rem;
    color: rgb(4, 0, 58);
}
.toggle span:last-of-type{
    
    color: rgb(255, 255, 255);
    background-color: rgb(4, 0, 58);
    border-radius: 20px;
    padding: 4px 15px;
}
.sessionCost{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.sessions{
    width: 50%;
    height: 10rem;
    background-color: rgb(137, 190, 192);
   border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
}
.sessions p{
  color: rgb(244, 244, 244);
  margin-bottom: 0;
}
.num{
    font-size: 54px;
}
.description{
    font-weight: 400;
    padding: .5rem 1rem;
    font-family: 'Cairo', sans-serif;
    line-height: 30px;
}
.slider{
    width: 100%;
    display: flex;
    justify-content: center;
}
.slider .bar{
    width: 90%;
    height: 16px;
    background-color: rgb(106, 103, 110);
    border-radius: 20px;
    position: relative;

}
.slider .progress{
    width: 31%;
    height: 16px;
    background:linear-gradient(
     90deg,
     rgb(1, 44, 46)0%,
     rgb(1, 86, 88)36%,
     rgba(4, 229, 236, 0.979)100%);
     border-radius: 20px;

}
.slider .point{
     height: 24px;
     width: 24px;
     background-color:   rgba(4, 229, 236, 0.979);
     border-radius: 50%;
     top: -5px;
     position: absolute;
     left: 29%;
     border: 2px solid white;

}
.slider .point:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.5s ease;
}
.scale{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.scale ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    width: 90%;
   
}
.card-container{
    display: flex ;
    justify-content: center;
}
.card{
    border-radius: 16px;
    margin: 20px;
    box-shadow: -1px -1px 3px 1px rgb(158, 158, 158);
    padding: 16px 32px;
    background-color: rgb(137, 190, 192);
    font-weight:900;
    text-align: center;
    color:  rgb(4, 0, 58);
    position: relative;
    /* background-color: wheat; */
}
.card:hover{
   transform: translateY(-8px);
   transition: .5s ease;
    /* background-color: wheat; */
}
.top-section p{
    margin: 4px 0;
}
.monthly{
    text-transform: uppercase;
}
.price{
    font-size: 2rem;
    color: white;
    margin-bottom: 1px;
}
.card hr{
    width: 30%;
    margin:  10px auto;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid rgb(4, 0, 58);;
}

.btn{
    background-color: var(--body);
    border: none;
    color: white;
    font-weight: 700;
    padding: 16px;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.btn:hover{
    cursor: pointer;
    transform: scale(1.1);

    transition: 0.5s ease;
}
.card .save-header{
    width: 100%;
    background-color:  crimson;
    color: white;
    position: absolute;
    top: -9px;
    left: 0;
    margin: 0;
    padding: 1px 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}
@media only   screen and (max-width:720px){
    .slider .bar{
        margin-bottom: 7px;
    }

}
@media only   screen and (max-width:504px){
    .card-container{
        display: flex;
        flex-wrap: wrap;
       
    }
    .card{
        flex: 50 4 100%;
        margin: 20px 35px;
    }
    .num{
        font-size: 40px;
    }
    .slider .bar{
        margin-bottom: 5px;
    }
    
}
@media only   screen and (max-width:320px){
    body{
        height: 300vh;
    }
    .card-container{
        display: flex;
        flex-wrap: wrap;
       
    }
    .card{
        flex: 50 4 100%;
        margin: 15px 20px;
    }
    .num{
        font-size: 30px;
    }
    .scale ul li{
       font-size: 1px;
       
    }
   .slider .bar{
        height: 10px;
    }
    .slider .progress{
        height: 10px;
    }
    .slider .point{
        height: 14px;
        width: 14px;
        top: -3px;
    }
    .btn{
        font-size: .2px;
        font-weight: 100;
    }
    .sessions:first-child{
        font-size: 1px;
    }
}